.container{
  
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
 border: #4a2d07 solid 1px;
}

.navbar-nav{
    margin:0 auto;
    gap:20px;
}
.nav-link{
    color:white !important;
   background: linear-gradient(135deg, #F4C430, #4a2d07);
    padding:10px 20px !important;
    border-radius:20px;
    font-weight:600;
    transition:0.3s;
}
.btn-dark{
    width: 100%;
    height: 55px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4a2d07;
    border: none;
    transition: 0.3s;
}
.card{
    transition: 0.3s;
    border-radius: 20px;
    overflow: hidden;
    
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2) !important;
}

.card-img-top{
    object-fit: cover;
    height: 300px;
    width: 400px;
}

.card-body{
    background: #ffffff;
   
}

.card-title{
    font-weight: bold;
}

.btn-primary{
    border-radius: 30px;
    font-weight: 600;
}